* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

:root {
    --color-block: #f28765;
}
#myCheckbox {
    opacity: 0;
    width: 24px;
    height: 24px;
}

/* ---------------------------------------------------*/

/* toggle */
    /* open */
.toggle-open {
    background-color: red;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 216px;
    top: 35px;
    border-radius: 10px;
    transition: ease 0.4s;
}
    /* close */
.toggle-close {
    background-color: red;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: 35px;
    border-radius: 10px;
    transition: ease 0.4s;
}

/* ---------------------------------------------------*/

/* sidebar */
  /* open */
.sidebars-open {
    display: flex;
    position: absolute;
    overflow: hidden;
    background-color: rgba(74, 109, 197, 1);
    width: 240px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: ease 0.4s;
}
  /* close */
.sidebars-close {
    display: flex;
    position: absolute;
    overflow: hidden;
    background-color: rgba(74, 109, 197, 1);
    width: 70px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: ease 0.4s;
}
.logout-open{
    position: relative;
    width: 200px;
    height: 40px;
    left: 20px;
    top: 420px;
    border-radius: 10px;
    background-color: var(--color-block);
}